$color-black: #000;
$color-white: #fff;
$color-cinder: #191622;
$color-cinder-dark: darken($color-cinder, 2.3%);
$color-cinder-light: lighten($color-cinder, 3.3%);
$color-screaming-green: #50fa7b;
$color-honeysuckle: #f1fa8c;
$color-perfume: #bd93f9;
$color-anakiwa: #8be9fd;
$color-bombay: #aeaeb2;
$color-tundora: #444;
$color-alto: #ddd;
$color-amaranth: #ee2e5d;
