$color-black: #000;
$color-white: #fff;
$color-cinder: #191622;
$color-screaming-green: #50fa7b;
$color-honeysuckle: #f1fa8c;
$color-perfume: #bd93f9;
$color-anakiwa: #8be9fd;
$color-mischka: #e1e1e6;
