.concepts {
  --main-brand-color: var(--color-victoria);
  --main-background-color: var(--color-foam);
  --main-text-color: var(--color-mine-shaft);
}

.concepts-dark {
  --main-brand-color: var(--color-foam);
  --main-background-color: var(--color-black);
  --main-text-color: var(--color-white);
}
