[data-theme="dark"] {
  --app-bg: #{$color-cinder};
  --main-title: #{$color-white};
  --primary-text: #{$color-white};
  --secondary-text: #{$color-bombay};
  --button-bg: #{$color-amaranth};
  --button-text: #{$color-white};
  --card-bg: #{$color-cinder-dark};
  --card-button-text: #{$color-white};
  --card-button-bg: #{$color-cinder-light};
  --card-border: #{$color-bombay};
  --tag-text: #{$color-black};
  --tag-success: #{$color-screaming-green};
  --tag-notice: #{$color-honeysuckle};
  --tag-surprise: #{$color-perfume};
  --tag-info: #{$color-anakiwa};
}
