[data-theme="dark"] {
  --app-bg: #{$color-cinder};
  --main-title: #{$color-white};
  --primary-text: #{$color-white};
  --secondary-text: #{$color-bombay};
  --button-primary-bg: #{$color-amaranth};
  --button-default-bg: #{$color-cinder-light};
  --button-text: #{$color-white};
  --card-bg: #{$color-cinder-dark};
  --card-border: #{$color-bombay};
}
