.entities {
  --action-button-background-color: var(--main-brand-color);
  --card-background-color: var(--main-brand-color);
}

.entities-dark {
  --action-button-background-color: var(--main-brand-color);
  --card-background-color: var(--main-brand-color);
}
